@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#bbody {
    overflow: hidden;
}

.black {
    background-color: #000;
}

#team .carousel {
    height: 100vh;
    animation: none;

}

#team {
    padding: 20px 0px;
    /* background: linear-gradient(to right, #1c4d38,#1c4d38c2, transparent), url("images/stock/Image 6.png"); */
    background-color: #fff;
    gap: 10px;
}

#team h2 {
    z-index: 2;
    color: #000;
    margin-bottom: 5px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    overflow-y: visible;
    /* display: grid;
    grid-template-columns: 70% 30%; */
    height: 100%;
    width: 100%;
}

.item .img-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: .4s ease;
    transition-delay: .6s;

    overflow-y: visible;
}

.item .img-box::before {
    content: '';
    position: absolute;
    right: 30%;
    width: 500px;
    height: 100%;
    /* background: rgba(255, 255, 255, .8); */
    border-radius: 50%;
    filter: blur(200px);
    overflow-y: visible;
}

.item.active .img-box,
.item.previously-active .img-box {
    transition-delay: .2s;
}

.item.active .img-box {
    transform: translateY(30%);
    overflow-y: visible;
    margin-left: 2rem;
}

.item.back-active .img-box {
    transition: none;
}

 /*.item .img-box {
    background-color: rgba(0, 0, 0, .25); 
}*/

/* .item:nth-child(1) .img-box {
    background: #a9350a;
}

.item:nth-child(2) .img-box {
    background: #201f1e;
}

.item:nth-child(3) .img-box {
    background: #7e0806;
}

.item:nth-child(4) .img-box {
    background: #5d2917;
} */

.img-box h3 {
    color: #deb16d;
    text-align: center;
}

.img-box img {
    position: absolute;
    bottom: -35%;
    height: 85%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
    transform: translateX(20%);
    transform: translateY(-110%);
    overflow-y: visible;
    margin-bottom: 1rem;
}

/* .item:nth-child(2) .img-box img {
    transform: translateX(22%);
    transform: translateY(-50%);
} */

.item .info-box {
    position: absolute;
    right: 0;
    /* transform: translateY(-80%); */
    width: 50vw;
    height: 25rem;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: end;
    text-align: left;
    align-items: center;
    padding-left: 2.5rem;
    height: 100%;
    width: 100%;
}

.item.active .info-box {
    z-index: 2;
}

.info-slider {
    width: 65%;
}

.info-box .info-slider {
    transition: .7s cubic-bezier(0.68, -0.55, 0.1, 1);
}

.info-slider .info-item {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    margin-right: 2rem;
    color: #000;
    /* transform: translateY(calc(var(--i) * 50%)); */
    transform: translateY(0%);
    transition: 0.2s;
}

.info-item h2 {
    font-size: 40px;
    line-height: 1;
    
}

.info-item p {
    font-size: 1.2rem;
    margin: 15px 0 20px;
    text-align: left;
}

.info-item .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 47px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.thumb {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    /* position: absolute; */
    /* grid-template-columns: 100px 100px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%); */
    list-style: none;
    z-index: 100;
}

/* .thumb li {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.thumb li.disabled {
    pointer-events: none;
}

.thumb li img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}*/

.thumb .selected {
    border: 3px solid #deb16d;
}


.thumb img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    /* background-color: #ffffff6c; */
}

.thumb img.selected {
    /* border: 3px solid #fff; */
    /* background-color: #fff; */
}

.thumb img.disabled {
    pointer-events: none;
}

.active {
    transform: translateY(0%);
}

.hideDivs {
    display: none;
    transform: translateY(calc(var(--i) * -100%));
}
