* {
    font-family: "Almarai", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('font/ghostink.regular.ttf') format('truetype');
}

.special {
    font-family: 'MyCustomFont', "Nothing You Could Do", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 66px;
}

.special_light {
    font-family: "Nothing You Could Do", cursive;
    font-style: normal;
}

.light_font {
    font-weight: 300;
}

.bold_font {
    font-weight: 800;
}

i {
    margin-left: 10px;
}

:root {
    --gold-color: #deb16d;
    --green-color: #1c4d38;
    --black-color: #000;
}

.straight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    height: 100vh;
    width: 100vw;
}

#hero {
    height: calc(100vh - 71px);
    width: 100vw;

    overflow: hidden;
}

.bg-custom-green {
    background-color: #deb16d;
    transition: 0.2s;
}

.bg-custom-green:hover {
    background-color: #1c4d38;
}

#bg_img {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    filter: grayscale(100%);
    background: linear-gradient(to right, #000, #000000a8, #fff), url('images/menza_sun.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    overflow: hidden;
}

#contact {
    width: 100vw;
    height: 100vh;
}

#contact_bg {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    filter: grayscale(100%);
    background: linear-gradient(to right, #000, #000000a8, #fff), url('images/contact.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    overflow: hidden;
}

#contact h2 {
    color: #fff;
}

#contact .pl-20 {
    padding-left: 0.875rem;
}

#contact_content {
    position: absolute;
    z-index: 1;
    width: 100%;
    justify-content: space-around;
    padding: 0px 10rem;
}

#hero_img {
    width: 100%;
}

#cta_btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--gold-color);
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

#cta_btn:hover {
    background-color: var(--green-color);
}

#cta_btn:active {
    background-color: #fff;
    color: #000;
}

#nav2,
#nav_mobile {
    position: sticky;
    top: 0;
    background-color: #000;
}

#nav {
    position: absolute;
    top: 0;
}

.navbar {
    z-index: 2;
    width: 100vw;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.navbar ul {
    justify-content: space-around;
    width: 40%;
}

.nav ul {
    color: #ffffffac;
}

.sticky ul {
    color: #fff;
}

.navbar ul li {
    cursor: pointer;
    padding: 10px 0px;
    transition: 0.2s;
}

.nav ul li:hover,
.sticky button:hover {
    color: #fff;
}

.sticky ul li:hover,
.sticky button:hover {
    color: var(--gold-color);
}

/* Hover drop down  */

.dropbtn {
    background-color: transparent;
    color: #ffffffac;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* border-radius: 20px; */
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    color: #fff;
}

.sticky .dropbtn {
    color: #fff;
}

/* HOver drop down done */

#hero_content {
    position: absolute;
    z-index: 1;
    width: 80%;
    justify-content: space-around;
}

#logo img {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    mix-blend-mode: multiply;
    /* background-color: #fff;
    padding: 20px; */
}

#placeholder_div img {
    height: auto;
    width: 20vw;
    border-radius: 50%;
    background-color: #0000007a;
    padding: 30px 20px;
}

#CTA {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;

}

#CTA .important {
    font-size: 56px;
    font-weight: 500;
}

#work_done {
    /* height: 120vh; */
    height: 100vh;
    justify-content: space-around;
    background: linear-gradient(to bottom, #deb16db0, #deb16d57, #fff);
}

#partners,
#projects {

    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 20px 0px;
}

#projects {
    padding: 40px 0px;
}

#partners img,
#projects img {
    height: 80px;
    width: auto;
    flex-shrink: 0;
    filter: drop-shadow(0.rem 0.rem 2.rem rgba(255, 255, 255, 0.5));

}

#partners img {
    max-height: 60px;
}

#partners {
    position: absolute;
    background-color: #fff;
    width: 80%;
    border-radius: 20px;
    bottom: -115.5px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.153), 2px 2px 2px rgba(0, 0, 0, 0.301);
    height: 15rem;
}

.carousel {
    width: 100%;
    justify-content: space-around;
    gap: 40px;
    position: relative;
    animation: scroll 15s linear infinite;
}

#partners::before {

    content: '';
    /* Required for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    /* Higher than other elements */
    box-shadow: inset 5rem 0px 2.5rem rgba(255, 255, 255, 1), inset -5rem 0px 2.5rem rgba(255, 255, 255, 1);
    /* Top shadow */
    z-index: 1;
    pointer-events: none;
    /* Ensure it doesn't block interactions */
}

#projects ul {
    gap: 20px;
}

#projects ul li {
    background-color: #00000037;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#projects ul li:hover {
    background-color: #00000080;
    color: #fff;
}

#projects ul .active_project {
    background-color: #000;
    color: #fff;
}

.projects_done {
    gap: 40px;
    margin-top: 40px;
}

.service img {
    height: 100px;
    width: auto;
}

#project_logos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 90px;
    row-gap: 40px;
    place-items: center;
    width: 100%;
}

.item16 {
    grid-column: 2 / 3;
}

.item17 {
    grid-column: 3 / 4;
}

.item18 {
    grid-column: 4 / 5;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-30%);
    }
}

#list_of_services {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* place-items: center; */
    width: 80%;
    gap: 20px;
}

#full_service {
    margin-top: 40px;
    width: 80%;
}

.text {
    text-align: center;
}

#services {
    box-sizing: content-box;
    background: linear-gradient(to bottom, #1c4d38, #fff, #fff);
    padding: 80px 0px;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: inherit;
}

#services h2 {
    color: #fff;
}

.service {
    box-sizing: border-box;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.153), 2px 2px 2px rgba(0, 0, 0, 0.301);
    border-radius: 20px;
    width: 100%;
    padding: 20px 20px;
    transition: 0.2s;
    background-color: #FFFAFA;
    cursor: pointer;
}

#full_service .service {
    background: #fff;
    cursor: default;
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0px;
    gap: 10px;
    /* background: linear-gradient(to left , #1c4d38, #fff); */
}

#full_service h3 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#full_service .text {
    width: 90%;
}

#full_service .full_service .text_container {
    height: 480px;
    box-sizing:border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service:hover {
    background-color: #fff;
}

.service img {
    /* filter: opacity(40%); */
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    transition: filter 0.2s;
    transition: transform 0.5s;
    height: 100%;
    width: auto;
}

.service:hover img {
    /* filter: opacity(100%); */
    /* transform: rotate(-2deg); */
}

.who_text {
    width: 80%;
    text-align: left;
}

#who_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#who_header {
    text-align: left;
    /* position: relative;
    left: -500px;
    font-size: 66px;
    top: -100px; */
}

#who {
    height: calc(100vh - 71px);
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    position: relative;
    z-index: 1;
    /* background-color: #ffffff; */
}

#who::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background: linear-gradient(to right, #fff, transparent), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23DEB16D'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23DEB16D'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23DEB16D'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /* transform: rotateX(180deg); */
    /* transform: scale(-1, -1); */
    z-index: -1;
}

#who img {
    width: 80%;
}

#back {
    position: absolute;
    top: 40px;
    left: 15px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

#back i {
    width: 100%;
    height: 100%;
    font-size: 20px;
    z-index: 1;
    color: #fff;
}

#nav2 i,
#nav_mobile i {
    color: #fff;
    font-size: 46px;
    padding: 20px 0px;
}

.service a {
    text-decoration: none;
    color: inherit;
}

.special_light {
    text-align: center;
}

#menu {
    display: none;
}

.animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.hideDivs {
    display: none;
}

.hideDiv {
    visibility: hidden;
}

#full_service .hideDivs {
    display: none;
}
